<ion-view hide-nav-bar="true" ng-init="initQR()" style="background: #1A2239">
  <ion-content class="padding has-header-false tela-formulario" ng-show="carregandoQR" scroll="false" style="height: 100vh;color:white" >
      
      <div class="list list-inset" align="center" style="background: #1A2239">
          <!-- <h2>
            <i class="ion-social-bitcoin"></i> areUS
          </h2> -->
          <br/><br/><br/><br/>
          <div style="width: 100%;display: flex;justify-content: center;align-items: center">
            <div style="width: 70%;font-size: 15px;">
                <div style="text-align: left;">
                 de minha carteira para: Carteira #54353343hf3423c
                </div>
                <br/><br/><br/>
                <div style="text-align: left;width: 100%;">
                  <img src="img/app-icon-estabelecimento.png" width="32" height="32" /><br/>
                  Café da República <br/>
               
                  Rua da República, 500 Centro, <br/>
                
                  Porto Alegre, Rio Grande do Sul 
                </div>
                <br/><br/>

                <div style="display:flex;flex-direction: row;">
                    <div style="width: 20%">Valor:</div> <div><input type="number" step="0.01" style="border-radius:6px;background: #48567dad;margin-top: -5px;margin-left: 10px" /></div>
                </div>
            </div>
              
          </div>


          
        <br/>
        
      <div class="bar bar-footer" style="background: #1A2239" align="center">
        <div style="margin-top: 200px;position: absolute;    bottom: 100px;width: 100%;">
            <button class="button button-balanced" style="width: 60%;background: #F8DC49;font-size: 30px;color: #383636;    border-radius: 20px;padding: 2%;" ng-click="enviarPagamento()">
              Enviar
            </button>
        </div>
         
      </div>
  </ion-content>

</ion-view>
