<ion-view hide-nav-bar="true" style="background: #1A2239">
  <ion-content class="padding has-header-false tela-formulario" scroll="false" style="height: 100vh;color:white" >
      
      <div class="list list-inset" align="center" style="background: #1A2239">
         
          <br/><br/><br/><br/>
          <div style="width: 100%;display: flex;justify-content: center;align-items: center;    margin-top: 100px;">
            <div style="width: 70%;font-size: 15px;">
                

                <img src="img/app-qr-code.png" width="80%" style="cursor: pointer;" ng-click="initQR()" /><br/>
                <div>Clique no qr para iniciar o scan.</div>
            </div>
              
          </div>


          
        <br/>
        
  
  </ion-content>

</ion-view>
