<ion-view hide-nav-bar="true" style="background: #1A2239">
  <ion-content class="padding has-header-false" scroll="false">
  	<div style="cursor: pointer;" ng-click="voltar()"><img src="img/app-seta.png"  width="30" height="30" /></div>
    <div  style="border: none;    margin-top: 100px;">
	  <div class="item item-text-wrap" align="center" style="background: #1A2239;border: none">
	  	<img src="img/app-icon-check.png" width="100" height="100" /><br/><br/><br/> <span style="font-size: 30px;color: white;mar"> Pagamento realizado com sucesso.</span>
	  </div>
    
	</div>
  </ion-content>
</ion-view>
